@font-face {
  font-family: Edge;
  src: url('assets/Edge.ttf');
}
@font-face {
  font-family: IBM;
  src: url('assets/IBM.ttf');
}
@font-face {
  font-family: Rubik;
  src: url('assets/Rubik.ttf');
}
* {
  margin: 0;
  padding: 0;
}
body {
  /*background-color: whitesmoke;*/
  overflow-x: hidden;
  overflow: hidden;
  font-family: Arial;

}
/*navbar*/
nav {
  justify-content: space-between;
  display: flex;
  padding: 15px 5px;
  background: linear-gradient(to right, hsl(199, 88.7%, 48.4%), hsl(217, 91.2%, 59.8%), hsl(224, 76.3%, 48%));;

}
.logo a {
  color: white;
  text-decoration: none;
  margin-left: 13px;
  font-family: Edge;
  font-size: 30px;
}

.navbar-menu ul {

  align-items: center;
  background: linear-gradient(to right, hsl(199, 88.7%, 48.4%), hsl(217, 91.2%, 59.8%), hsl(224, 76.3%, 48%));;
  display: flex;
  height: 100vh;
  position: absolute;
  width: 80%;
  right: 0;
  top: 0;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: -1;
  transform: translate(0, -100%);
}
.navbar-menu ul li {
  list-style: none;
  /*height: 30px;*/
  /*margin-top: 80px;*/
}



/*burger*/
.menu-toggle {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  margin-right: 10px;
  margin-top: 6px;
}
.menu-toggle input {
  position: absolute;
  top: -4px;
  width: 50px;
  left: -11px;
  height: 28px;
  opacity: 0;
  cursor: pointer;
  border-radius: 50px;
}
.menu-toggle span {
  width: 28px;
  height: 3px;
  display: block;
  background-color: white;
  border-radius: 15px;
  transition: 1s;
}

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
  opacity: 0.7;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 0;
  opacity: 0.7;
}
.menu-toggle span:nth-child(3) {
  opacity: 0.7;
}

/*hamburger animation*/

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(46.2deg) translate(-1px, -1px);
  opacity: 1;
}
.menu-toggle input:checked ~ span:nth-child(4) {
  opacity: 1;
  transform: rotate(-46.2deg) translate(-2.2px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: translate(15px ,0);
}
/*hamburger action*/
.slide{
  transform: translate(0 0);
}
/*circle*/

.circle {
  position: relative;
  display: none;
  justify-content: center;
}
.circle span {

  opacity: 0.5;
  height: 300px;
  background-color: lightblue;
  width: 300px;
  z-index: -4;
  border-radius: 50%;
  position: absolute;
}
.circle span:nth-child(2) {
  display: flex;
  justify-content: flex-start;
  transform: -translate(100px ,-100px);
  opacity: 0.5;
  height: 100px;
  background-color: lightgreen;
  width: 100px;
  z-index: -4;
  border-radius: 50%;
  position: absolute;
}



/*Welcome*/
.welcome {
  display: flex;
  justify-content: center;
  position: relative;
}
.welcome span {
  justify-content: center;
  position: absolute;
  background-color: lightblue;
  width: 50px;
  height: 50px;
  margin-top: 50%;
  transform: rotate(-45deg);

}
.bg1 {
  z-index: -1;
  /*opacity: 0.5;*/
  text-align: center;
  background-color: lightblue;
  height: 400px;
  width: 50%;
}
.bg2 {
  z-index: -1;
  opacity: 0.5;
  text-align: center;
  background-color: lightgreen;
  height: 400px;
  width: 50%;
}

/*profile*/
.profile {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.profile img {
  width: 35%;
  height: 35%;
  border-radius: 25px;
  margin-top: 10px;
  margin-right: 20px;
}
.profile pre {
  font-family: Rubik;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}



/*about me*/
.about {
  text-align: center;
  margin-top: 10px;
  padding: 5px;
  font-family: IBM;
}
.about h2{
  margin-bottom: 10px;
}



/*project*/
.project h2{
  font-family: IBM;
  text-align: center;
  margin-bottom: 20px;
}
.p1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.project img{
  margin-bottom: 10px;
  width: 40%;
  height: 40%;
  border-radius: 15px;
}



/*contact me*/
.contact {
  font-family: IBM;
  text-align: center;
}
.contact #email {
  background-color: cornsilk;
  width: 70%;
  height: 25px;
  border-radius: 15px;
}
.contact #msg {
  border-radius: 15px;
  width: 70%;
  height: 80px;
  background-color: cornsilk;
}